var proxy = require('http-proxy-middleware');
var filter = function (pathname, req) {
    console.log(pathname);
    return (
            pathname.match('^/cartographies')
            
            );
};

var proxyMiddleware1 = proxy(filter, {
    target: 'http://localhost:80/',
    pathRewrite: {
        '^/cartographies': ''
    },
    router: {
    },
    changeOrigin: true
});

var proxyMiddleware2 = proxy(['/dashboard'], {
    target: 'http://localhost:80',
    pathRewrite: {
        '^/dashboard': '/'
    },
    router: {
    },
    changeOrigin: true
});
module.exports = {
  port: 80
  ,
  server: {
    middleware: {
      1: proxyMiddleware1, 
      2: proxyMiddleware2 
    }
  }
};
