{
    "db":
    {
        "host": "localhost",
        "user": "root",
        "password": "root",
        "database": "cartographies"
    },
    "server":
    {
        "port": 8080,
        "path": "/rcln/labex-efl/cartographies/"
    }
}
