<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cartographies Sonores{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <link href="dashgum/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="dashgum/css/style.css" rel="stylesheet">
    <link href="dashgum/css/style-responsive.css" rel="stylesheet">

    <link href="css/base.css" rel="stylesheet">

  </head>
  <body>

  <section id="container" >
        <header class="header black-bg">
            <a href="index.html" class="logo"><b>Cartographies Sonores</b></a>
        </header>
      
      
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <div id="data-content">
                {% block content %}
                {% endblock %}
            <div>
        </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

  </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.6.2/immutable.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/4.2.11/EventEmitter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>

    <script src="js/dispatcher.js"></script>

    {% block javascript %}
    {% endblock %}

  </body>
</html>
