.wrapper {
    padding: 15px 15px 15px;
}

.leaflet-map {
  height: 400px;
}

.leaflet-map-detail {
  height: 200px;
}

#main-content {
    margin-left: 0px;
}

#header-logo img {
    height: 50px;
}

#header-logo {
    float: right;
    background-color: white;
    margin-top: 4px;
}

.div_link {
    cursor: pointer;
}

.tiny_image img {
    height: 200px;
}
