<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <cartography>Map</cartography>
</div>
<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <div>
        <div class="mdl-textfield">
            <label for="search" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-button--colored">
                <i class="material-icons">search</i>
            </label>
            <input id="search" type="text" placeholder="Rechercher" class="search mdl-textfield__input">
        </div>
    </div>

    <language-list>List</language-list>
</div>
