<div class="table-responsive-vertical shadow-z-1">
    <table class="table table-hover table-mc-light-blue table-bordered">
        <thead>
            <tr>
                <th>Langue</th>
                <th>Glottonyme</th>
                <th>Pays</th>
                <th>Famille</th>
                <th>Locuteurs</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let language of languages" (click)="gotoDetail(language)" class="{{language.status}}">
                <td data-title="Langue">{{language.name}}</td>
                <td data-title="Glottonyme">{{language.glottonym}}</td>
                <td data-title="Pays">{{language.country}}</td>
                <td data-title="Famille">{{language.family}}</td>
                <td data-title="Locuteurs">{{language.speakers}}</td>
            </tr>
        </tbody>
    </table>
</div>
